[Unit]
Description=Synchronize the local and remote maildir
Requires=mail-sync.service

[Timer]
Unit=mail-sync.service
OnUnitActiveSec=5m

[Install]
WantedBy=timers.target
