[Unit]
   Description=Add GitHub SSH key
   After=ssh-agent.service
   
   [Service]
   Type=oneshot
   ExecStart=/usr/bin/ssh-add /home/ld/.ssh/github /home/ld/.ssh/aur
   
   [Install]
   WantedBy=default.target
