[Unit]
Description=SwayIdle Service
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/sbin/swayidle -w \
timeout 600 'notify-send -u critical -a "SwayIdle" "Locking soon" "Screen will lock in 5 minutes"' resume '/home/ld/.local/bin/dismiss-swayidle-notif' \
timeout 900 'swaylock -f -c 1f1f28' \
timeout 930 'niri msg action power-off-monitors' \
timeout 1800 'systemctl suspend'
Restart=on-failure
TimeoutSec=30
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus"

[Install]
WantedBy=graphical-session.target
