# Accounts
IMAPAccount posteo
Host posteo.de
Port 993
User drumondlorenzo@posteo.net
Pass "{{ gopass `Email/drumondlorenzo@posteo.net` }}"
SSLType IMAPS

IMAPAccount gmail
Host imap.gmail.com
Port 993
User drumondlorenzo@gmail.com
Pass "{{ gopass `Gmail/mbsync` }}"
SSLType IMAPS
AuthMechs LOGIN

# Stores
IMAPStore posteo-remote
Account posteo

IMAPStore gmail-remote
Account gmail

# Local
MaildirStore posteo-local
Subfolders Verbatim
Path ~/.local/share/mail/Posteo/
Inbox ~/.local/share/mail/Posteo/INBOX

MaildirStore gmail-local
Subfolders Verbatim
Path ~/.local/share/mail/GMAIL/
Inbox ~/.local/share/mail/GMAIL/INBOX

# Channels
Channel posteo
Far :posteo-remote:
Near :posteo-local:
Patterns *
Create Both
Expunge Both
SyncState *

Channel gmail-default
Far :gmail-remote:
Near :gmail-local:
Patterns * ![Gmail]* 
Create Both
Expunge Both
SyncState *

Channel gmail-sent
Far :gmail-remote:"[Gmail]/Sent Mail"
Near :gmail-local:Sent
Create Near
Sync Pull

Channel gmail-trash
Far :gmail-remote:"[Gmail]/Bin"
Near :gmail-local:Trash
Create Near
Sync Pull

Channel gmail-drafts
Far :gmail-remote:"[Gmail]/Drafts"
Near :gmail-local:Drafts
Create Near
Sync Pull

Channel gmail-important
Far :gmail-remote:"[Gmail]/Important"
Near :gmail-local:Important
Create Near
Sync Pull

Channel gmail-junk
Far :gmail-remote:"[Gmail]/Spam"
Near :gmail-local:Junk
Create Near
Sync Pull

Group gmail
Channel gmail-default
Channel gmail-sent
Channel gmail-trash
Channel gmail-drafts
Channel gmail-important
Channel gmail-junk
