theme = 'noctalia'

[editor]
mouse = true
cursorline = true
# line-number = "relative"

[editor.cursor-shape]
insert = 'bar'
normal = 'block'
select = 'underline'

[editor.statusline]
# separator = "|"
left = ["mode", "spinner", "file-name", "file-modification-indicator", "read-only-indicator"]
center = ["version-control"]
right = ["diagnostics", "register", "primary-selection-length", "selections", "position", "position-percentage"]

[editor.indent-guides]
render = false
skip-levels = 0
# character = "⸽" # Some characters that work well: "▏", "┆", "┊", "⸽", "╎"

[editor.lsp]
display-signature-help-docs = false

[editor.soft-wrap]
enable = true

[keys.insert]
A-ret = 'completion'

[keys.normal]
A-X = 'extend_line_above'

[keys.normal.'space']
backspace = ':reset-diff-change'
c = ':toggle-option cursorcolumn'
ret = ['extend_to_line_bounds', ':pipe-to gorepl send', 'move_visual_line_down']

[keys.select.'space']
ret = ':pipe-to gorepl send'

[keys.normal.'\']
f = ':pipe table-formatter'

[keys.select.'\']
f = ':pipe table-formatter'
